<h1>Design Patterns</h1>
<section class="designPatterns">
    <div class="details"><h3>History</h3><p>{{designPatterns.history}}</p></div>
    <img src="img/DesignBook.jpg" alt="The book, 'A Pattern Lanugage: Towns, Buildings, Construction'" style="display: block; margin: 0 auto;">
    <div class="details"><h3>What Are Design Patterns?</h3><p>{{designPatterns.what_are_design_patterns}}</p></div>
    <div class="details"><h3>Identifying Design Patterns</h3><p>{{designPatterns.identifying_design_patterns}}</p></div>
    <div class="details"><h3>Benefits of Design Patterns</h3><p>{{designPatterns.benefits_of_design_patterns}}</p></div>
    <div class="details">
      <h4>Criticisms of Design Patterns</h4>
      <p>{{designPatterns.criticisms.crit_para1}}</p>
      <p>{{designPatterns.criticisms.crit_para2}}</p>
      <p>{{designPatterns.criticisms.crit_para3}}</p>
      <p>{{designPatterns.criticisms.crit_para4}}</p>
    </div>
</section>