<h1>Prototype Chain</h1>
<section class="prototypeChain">
<div class="details">
      <h3>Continued from Constructor...</h3>
      <p>{{examples.prototype-chain.para1}}</p>
      <p>{{examples.prototype-chain.para2}}</p>
      <p>{{examples.prototype-chain.para3}}</p>
      <p>{{examples.prototype-chain.para4}}</p>
      <img src="img/PrototypeChain.PNG" alt="prototype chain" style="display: block; margin: 0 auto;">
      <h3>Summary</h3>
      {{#each examples.Summary}}
        <ul>
          <li>{{txtitem}}</li>
        </ul>
      {{else}}
        <ul>
          <li>No data availble</li>
        </ul>
      {{/each}}
</div>
</section>
