<h1>Prototype</h1>
<section class="prototype">
    <div class="details">
      <h3>Introduction</h3>
      <p>{{prototype_design_pattern.proto_intro.p_intro_para1}}</p>
      <p>{{prototype_design_pattern.proto_intro.p_intro_para2}}</p>
      <p>{{prototype_design_pattern.proto_intro.p_intro_para3}}</p>
    </div>
    <img src="img/Clone.PNG" alt="Cloning diagram" style="display: block; margin: 0 auto;">
    <div class="details">
      <h3>When to Use the Prototype Pattern</h3>
      <p>{{prototype_design_pattern.when_to_use.p_when_para1}}</p>
      <p>{{prototype_design_pattern.when_to_use.p_when_para2}}</p>
    </div>
    <div class="details">
      <h3>Advantages of Prototype Pattern</h3>
      <p>{{prototype_design_pattern.pros_and_cons_of_prototype.advantanges_of_prototype_pattern.p_adv_para1}}</p>
      <p>{{prototype_design_pattern.pros_and_cons_of_prototype.advantanges_of_prototype_pattern.p_adv_para2}}</p>
    </div>
    <div class="details">
      <h3>Disadvantages of Prototype Pattern</h3>
      <p>{{prototype_design_pattern.pros_and_cons_of_prototype.disadvantanges_of_prototype_pattern.p_dis_para1}}</p>
      <p>{{prototype_design_pattern.pros_and_cons_of_prototype.disadvantanges_of_prototype_pattern.p_dis_para2}}</p>
    </div>
</section>