<h1>Sources</h1>
<section class="source">
    <div class="details">
      <h3>Texts</h3>
      {{#each sources.text}}
        <ul>
          <li>Text: {{txtitem}}</li>
        </ul>
      {{else}}
        <ul>
          <li>No data availble</li>
        </ul>
      {{/each}}
    </div>
    <div class="details">
      <h3>Links</h3>
      {{#each sources.weblinks}}
        <ul>
          <li>Link: <a href="{{link}}">{{link}}</a></li>
        </ul>
      {{else}}
        <ul>
          <li>No data availble</li>
        </ul>
      {{/each}}
    </div>
</section>